<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @book.name %>
</p>

<p>
  <b>Desc:</b>
  <%= @book.desc %>
</p>

<p>
  <b>Btype:</b>
  <%= @book.btype_id %>
</p>


<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', ocr_document_path %>
